@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: #14213D;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Poppins', sans-serif;
  }
}

.hamburger-line {
  @apply w-[30px] h-[2px] block bg-dark rounded-md;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}